---
layout: default
title: 404
---
<div class="alert">
    据说在第三次科技革命之前，互联网的形态就是一个大型的中央数据库，这个数据库就设置在404房间里面。那时候所有的请求都是有人工手动完成的，如果在数据库中没有找到请求者所需要的文件，或者由于请求者写错了文件编号，用户就会得到一个返回信息：room 404 : file not found。后来互联网兴起后，人们也就习惯了用404作为服务器未找到文件的错误代码了。
</div>

<div style="width: 728px; height: 90px;"> 
    <script type="text/javascript"><!--
        google_ad_client = "ca-pub-6960703437272224";
        /* github_top */
        google_ad_slot = "7026237002";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>

        <div class="alert">
            您可以看看下面的文章列表:
        </div>
        <div class="postsList wrapper">
            {% capture post_year1 %}{{ 'now' | date: '%Y' }}{% endcapture %}
            <h2>{{ post_year1 }}</h2>
            <ul>
                {% for post in site.posts %}
                {% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% if post_year1 != post_year2 %}
                {% assign post_year1 = post_year2 %}
            </ul>
            <h2>{{ post_year1 }}</h2>
            <ul>
                {% endif %}
                <li><span>{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
